// Buttons =====================================================================
@include btn(primary, $primary, $white);
@include btn(secondary, $secondary, $gray-500);
@include btn(success, $success, $white);
@include btn(info, $info, $white);
@include btn(warning, $warning, $white);
@include btn(danger, $danger, $white);
@include btn(dark, $dark, $white);
@include btn(light, $light, $white);
.btn {
    text-transform: uppercase;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    transition: all 0.4s;
    &-link {
        box-shadow: none;
        color: $link-color;
        &:hover,
        &:focus {
            box-shadow: none;
            color: $link-hover-color;
            text-decoration: $link-hover-decoration;
        }
        &.disabled, // Although btn-link is intended for buttons, which want to look like link, I include here a.disable for the sake of consistency
        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:active:hover {
                color: $btn-link-disabled-color;
                text-decoration: none;
            }
        }
    }
    &-secondary {
        &.disabled,
        &[disabled],
        fieldset[disabled] & {
            background-color: rgba(0, 0, 0, 0.1);
            color: rgba(0, 0, 0, 0.4);
            opacity: 1;
            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
    &-outline-secondary {
        border-color: $gray-200;
        color: $gray-300;
    }
    &-warning {
        color: $white;
    }
}

.btn-group {
    .btn+.btn,
    .btn+.btn-group,
    .btn-group+.btn,
    .btn-group+.btn-group {
        margin-left: 0;
    }
    &-vertical {
        >.btn+.btn,
        >.btn+.btn-group,
        >.btn-group+.btn,
        >.btn-group+.btn-group {
            margin-top: 0;
        }
    }
}