.checkbox-custom,
.pillbox-input-wrap,
.placard,
.radio-custom,
.combobox,
#datepicker,
#myDatepickerContainer {
    .is-empty {
        margin-top: 0;
    }
}

.fu-example {
    .form-group {
        margin-top: 0;
    }
    .highlight {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .highlight.checked {
        background-color: #e1e1e8 !important;
        color: inherit !important;
    }
    .bg-success {
        background-color: #dff0d8 !important;
        color: inherit !important;
    }
    .bg-info {
        color: inherit !important;
        background-color: #d9edf7 !important;
    }
    .radio-custom .radio-label {
        position: inherit;
        left: 0;
    }
    .input-group-addon.radio-custom.radio-inline {
        span {
            top: 12px;
        }
    }
}

.pillbox-input-wrap {
    margin: 0;
    .form-group {
        margin-top: 0;
        padding-bottom: 0;
    }
    .pillbox-add-item {
        margin-bottom: 0;
        text-align: center;
    }
}

.scheduler,
.search,
#spinbox {
    .form-group {
        margin-top: 0;
    }
}

.fuelux .scheduler .start-datetime .combobox {
    max-width: inherit;
}

.scheduler .selectlist {
    margin: 0;
}

.checkbox .highlight {
    margin-bottom: 0;
}

.fuelux .checkbox-custom.highlight {
    padding-left: 10px;
}

.fuelux .checkbox-custom.highlight.checked {
    background: #e6e6e6;
    border-radius: 4px;
}

.wizard {
    .alert {
        color: inherit;
    }
    .btn {
        padding: 6px 12px;
        margin: 0;
    }
}

.repeater {
    .form-group {
        padding-bottom: 0;
    }
    .form-control {
        margin-bottom: 0;
    }
    .input-group-btn .btn {
        padding: 5px 20px;
    }
    .repeater-header-right .btn-group {
        margin: 0;
        .btn {
            padding: 6px 12px;
        }
    }
}

.repeater-footer {
    .form-group {
        margin-top: 0;
        padding-bottom: 0;
        .form-control {
            padding-bottom: 0;
        }
    }
    .is-empty {
        display: none;
    }
}
